.js-acc--child-page {
	padding-top: 30px;
}

.js-accordion {
	.js-accordion__content {
		iframe {
			@media #{$small-and-down} {
			    width: 300px !important;
			   	height: 210px !important;
			}
		}
		ol {
			padding: 0;
			margin: 0;
			@media #{$small-and-down} {
			    columns: 1 !important;
			}
			li {
				margin-left: 20px;
			}
		}
		ul {
			padding-left: 20px;
			li {
				margin-left: 20px;
			}
		}
	}
	button.js-accordion__header {
		border:none;
		border-radius: 0;
		// background: $main-accent;
		background: $ll-grey;
		width: 100%;
		text-align: left;
		margin-bottom: 5px;
		position: relative;
		// 
		color: $alt-black;
		// color: $white;
		text-transform: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		@media #{$medium-and-up} {
		    font-size: 24px;
		    line-height: 28px;
		}
		@media print {
			background: darken($ll-grey, 10) !important;
		}
		&:after {
			position: absolute;
			top: 25%;
			right: 10px;
			font-family: FontAwesome;
			content: "\f0d7";
		}
		&:focus {
			background: darken($ll-grey, 10);
		}
	}
	.button.js-accordion__header[aria-expanded=true] {
		&:after {
			position: absolute;
			top: 35%;
			right: 10px;
			font-family: FontAwesome;
			content: "\f0d8";
		}
	}
	.js-accordion__panel,
	.js-accordion__panel.animated-accordion__panel{
		@media print {
			visibility: visible !important;
			height: auto !important;
			opacity: 1 !important;
			display: block !important;
			overflow: visible !important;
			max-height: 1000vh !important;
		}
		.js-accordion__panel-wrapper {
			padding: 40px;
			@media #{$small-and-down} {
			    padding: 0 10px;
			}
		}
		h3:first-child {
			margin-top: 0;
		}
	}
}

.animated-accordion__panel {
 display: block;
 overflow: hidden;
 background: rgba(0,0,0,0.015);
 opacity: 1;
 transition: visibility 0s ease, max-height 1s ease;
 max-height: 1000vh;
 /* magic number for max-height = enough height */
 visibility: visible;
 transition-delay: 0s;
 margin: 0;
 padding: 0;
}
/* This is the hidden state */
[aria-hidden=true].animated-accordion__panel {
 display: block;
 max-height: 0;
 opacity: 0;
 visibility: hidden;
 transition-delay: 1s, 0s, 0s;
 margin: 0;
 padding: 0;
}

.js-accordion button.js-accordion__header:after {
    content: "\f0d9";
}

.js-accordion button.js-accordion__header[aria-expanded="true"]:after {
    content: "\f0d7";
}

