footer {
}

.mini-footer {
	
}

footer.navigation-footer {
	margin-top: 15px;
	color: $white;
	margin-left: 20px;
	font-size: 12px;
	font-family: $sans-serif-font;
	text-transform: uppercase;
	// opacity: 0.5;
	// position: fixed;
	// bottom: 80px;
	z-index: 60;
	@media #{$tall-and-up} {

	}
	a {
		color: $white;
		&:hover {
			text-decoration: underline;
		}
	}
}

.left-panel__navigation.slim-nav-transition.compress-slim-nav,
.left-panel__navigation.slim-nav-transition-static.compress-slim-nav {
	footer.navigation-footer {
		color: $main-accent;
		color: $white;
		// bottom: 80px;
		position: relative;
		bottom: 0;
	}
}