#search-placeholder-text {
  font-family: $sans-serif-font;
  text-transform: uppercase;
  // color: rgba(255,255,255,0.7);
  color: $white;
}

.site-wide-search {
  margin-left: 20px;
  margin-top: 20px;
  form {
    input {
      font-family: $sans-serif-font;
      text-transform: uppercase;
      vertical-align: top;
    }
    input[type=text] {
      border: none;
      background: transparent;
      border-bottom: 2px solid rgba(255,255,255,0.3);
      color: $white;
      transition: all 0.5s ease;
      // width: 0;
      // opacity: 0;
      &::placeholder {
        color: $white;
      }
      // &:focus {
      //   width: auto;
      //   opacity: 1;
      //   outline: none;
      // }
    }
    #searchsubmit {
      color: $white;
      margin-left: 5px;
    }
  }
}

.left-panel__navigation.slim-nav-transition.compress-slim-nav nav ,
.left-panel__navigation.slim-nav-transition-static.compress-slim-nav nav {
  .site-wide-search {
    form {
      input[type=text] {
        border: none;
        background: transparent;
        border-bottom: 2px solid $main-accent-trans;
        border-bottom: 2px solid rgba(255,255,255,0.5);
        color: $main-accent;
        color: $white;
        transition: all 0.5s ease;
        &::placeholder {
          color: $main-accent;
          color: $white;
        }
      }
      i {
        color: $main-accent;
        color: $white;
      }
      #searchsubmit {
        color: $main-accent;
        color: $white;
        margin-left: 5px;
      }
    }
  }
}

form {
   .input-field label {
      color: darken($white, 10);
    }
    input[type=text],  textarea.materialize-textarea {
        border-bottom: 1px solid white;
        margin: 0;

    }
    input[type=email] {
        border-bottom: 1px solid $white;
        color: $white;
        //margin: 0;
    }

   /* label focus color */
   .input-field input[type=email]:focus + label, 
   .input-field input[type=text]:focus + label,
   textarea.materialize-textarea:focus:not([readonly]) {
        color: $white;
        border-bottom: 1px solid $white;
     
   }
   .input-field input[type=email]:focus,
   .input-field input[type=text]:focus,
   textarea.materialize-textarea:focus {
        border-bottom: 1px solid $white;
        box-shadow: none;
   }
   .input-field input[type=email].valid,
   .input-field input[type=text].valid,
   textarea.materialize-textarea.valid {
        border-bottom: 1px solid lighten($black, 70);
        box-shadow: none;
    }
}

.gform_wrapper {
  .gfield.gsection {
    margin-top: 0;
  }
  label {
    // font-family: $sans-serif-font;
  }
  input[type=email],
  input[type=text],
  textarea {
    border: 1px solid lighten($black, 70);
    box-shadow: none;
  }
  input[type=submit] {
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    font-family: $sans-serif-font;
    border: 2px solid $main-accent;
    border-radius: 4px;
    padding: 15px 20px;
    background: $white;
    color: $main-accent;
    &:hover {
        color: $white;
        background: $main-accent;
        border: 2px solid $main-accent;
    }
  }
}




