.top-page-panel {
	min-height: 60vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
	@media #{$medium-and-up} {
	    min-height: 100vh;
	}
	.container {
		position: relative;
		z-index: 5;
		color: $white;
		>div {
			padding: 15% 0% 5%;
			@media #{$medium-and-up} {
			    padding: 10% 10% 5%;

			}
			@media #{$xlarge-and-up} {
			    padding: 20% 10% 5%;
			}
			.home-subhead {
				margin-bottom: 40px;
				a {
					color: $white;
					border-bottom: 1px solid rgba(255,255,255,0.5);
				}
			}
		}
		h1 {
			color: $white;
			font-size: 45px;
			line-height: 55px;
			font-weight: 300;
			text-transform: uppercase;
			padding: 0;
			// span {
			// 	background: rgba(255,255,255,0.9);
			// 	color: $black;
			// 	position: relative;
			//     left: 0.25em;
			//     padding-left: 0;
			//     box-shadow: 0.25em 0 0 rgba(255,255,255,0.9),  
			//                 0.25em*-1 0 0 rgba(255,255,255,0.9);
			// }
			@media #{$medium-and-up} {
			    font-size: 60px;
			    line-height: 70px;
			}
			@media #{$large-and-up} {
			    font-size: 60px;
			    line-height: 70px;
			}
			@media #{$xlarge-and-up} {
			    font-size: 90px;
			    line-height: 100px;
			}
		}
		.separator {
			width: 145px;
			height: 2px;
			background-color: $white;
			margin: 0 auto 30px;
		}
		p,
		.home-subhead
		 {
			color: $white;
			// text-transform: uppercase;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.7px;
			margin: 0;
		}
		#down-arrow-banner {
			// fill: $main-accent;
			fill: $white;
		}
	}
	.grad-overlay {
	    z-index: 2;
	    &:after {
	        content: '';
	        position: absolute;
	        left: 0;
	        right: 0;
	        top: 0;
	        height: 100%;
	        background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.7) 100%);
	        z-index: 1;
	    }
	}
}

.top-page-panel.splash-page {
	min-height: 100vh;
	.container {
		position: relative;
		z-index: 5;
		color: $white;
		>div {
			padding: 15% 0% 5%;
			@media #{$medium-and-up} {
			    padding: 5% 0;
			}
			h1 {
				margin-top: 0;
				// span {
				// 	color: $black;
				// 	background: $white;
				// }
			}
			
		}
	}
}

.top-page-panel.parent-template {
	.container {
		>div {
			padding: 15% 0% 5%;
			.home-subhead {
				a {
					color: $white;
					border-bottom: 1px solid rgba(255,255,255,0.5);
				}
			}
			@media #{$medium-and-up} {
			    padding: 10% 10% 5%;
			    p,
			    .home-subhead {
			    	padding: 0 15%;
			    }
			}
			@media #{$large-and-up} {
			    padding: 20% 10% 5%;
			}
		}
	}
}

#nav-header-logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	height: auto;
	svg {
		width: 100%;
		height: auto;
	}
	@media #{$large-and-up} { 
	  display: none;
	}
}