#gallery-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  @media #{$medium-and-up} {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

div#gallery-container figure {
  width: 150px;
  margin: 2.3%;
  display: inline-block;
  @media #{$medium-and-up} {
    width: 150px;
    margin: 0px 2% 30px;
  }
}

div#gallery-container figure img {
  width: 100%; 
  height: auto;
  margin-bottom: 5px;
}

div#gallery-container figure figcaption {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-top: 15px;
  a {
    color: $alt-black;
    border-bottom: none;
    span.lg__weight,
    span.lg__yos {
      text-transform: none;
      opacity: 0.7;
      font-style: italic;
    }
  }
}