.skip-to {
  position: absolute;
  top: -1000px;
  left: -1000px;
  // 
  height: 1px;
  width: 1px;
  // 
  background: darken($black, 10);
  overflow: hidden;
  padding: 10px 15px;
  transition: all 0.2s;
  z-index: 1000;
  // 
  color: $white;
  text-align: center;
  text-decoration: underline;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  font-weight: 300;
}
    
a.skip-to:active, 
a.skip-to:focus, 
a.skip-to:hover {
    left: calc(50% - 70px); 
    top: 0;
    // 
    width: auto; 
    height: auto; 
    // 
    overflow: visible; 
}

.left-panel__navigation {
  position: fixed;
  width: 310px;
  height: 100vh;
  padding: 15px 20px 50px 20px;
  z-index: 1000;
  @media #{$small-and-down} {
    display: none;
  }
  @media print {
    display: none;
  }
}

.left-panel__navigation.open-navigation {
  display: block !important;
  background: $alt-black;
  width: 100%;
}

.left-panel__navigation.small-nav {
    width: 300px;
}

.left-panel__navigation.slim-nav-transition,
.left-panel__navigation.slim-nav-transition-static {
  transition: all 0.5s ease;
}

.slim-nav-label {
  transition: all 0.5s ease;
  display: none;
}

.left-panel__navigation.slim-nav-transition.compress-slim-nav,
.left-panel__navigation.slim-nav-transition-static.compress-slim-nav {
  background: $black;
  transform: translateX(-310px);
  // &:hover {
  //   transform: translateX(0);
  //   background: $white;
  //   // background: $grey;
  //   box-shadow: 10px 0 20px -2px rgba(0,0,0,0.1);
  //   nav {
  //     transform: translateX(0);
  //   }
  //   .slim-nav-label {
  //     opacity: 0;
  //   }
  // }

  nav {
    transition: all 0.7s ease;
    transform: translateX(-400px);
  }

  .slim-nav-label {
    opacity: 1;
    display: block;
    position: absolute;
    top: 60px;
    right: -5px;
    transform: rotate(90deg);

    color: $nav-links;
    font-family: $sans-serif-font;
    span {
      letter-spacing: 1px;
    }
    svg {
      width: 25px;
      height: auto;
      transform: rotate(-90deg);
      // left: -50px;
      position: absolute;
      left: -30px;
    }
  }
}

.left-panel__navigation.slim-nav-transition.compress-slim-nav.on-hover,
.left-panel__navigation.slim-nav-transition-static.compress-slim-nav.on-hover {
  transform: translateX(0);
  background: $white;
  // background: $grey;
  box-shadow: 10px 0 20px -2px rgba(0,0,0,0.1);
  nav {
    transform: translateX(0);
  }
  .slim-nav-label {
    opacity: 0;
  }
}

nav {
  background: transparent;
  box-shadow: none;
  li {
    display: block;
    float: none !important;
    line-height: 20px;
    a {
      text-decoration: none;
    }
  }
}

nav {
  ul {
    margin: 0;
    li {
      padding: 0;
    }
  }
}

#menu-main-menu {
  padding: 0;
  padding-left: 20px;
  >li {
    >ul {
      padding: 0;
      margin: 0;
      > li {
        >ul {
          margin: 0;
          padding-left: 20px;
        }
      }
    }
  }
}

#main-menu-ww {
  top: 0;
  overflow: scroll;
  width: 280px;
  height: 500px;
}

.menu-item-has-children {
  ul {
    transition: all 0.2s ease;
  }
  > ul {
    
    opacity: 0;
    visibility: hidden;
    position: absolute;

    margin-left: 20px;
    // border-left: 4px solid rgba(255,255,255,0.6);
    li {
      display: block;
      float: none;
    }
  }
}

.menu-item-has-children.current-menu-parent {
  > ul {
    opacity: 1;
    visibility: visible;
    position: static;
    li {
      display: block;
      float: none;
      >ul {
        padding-bottom: 10px;
      }
    }
    li.current_page_item {
      >ul {
        opacity: 1;
        visibility: visible;
        position: static;
      }
    }
  }
}

.menu-item-has-children {
  ul.open-dropdown {
    opacity: 1;
    visibility: visible;
    position: static;
  }
}

.menu-after-dots {
  color: $nav-links;
  font-size: 30px;
  &:hover {
    cursor: pointer;
  }
  @media #{$large-and-up} {
    // display: none;
  }
}

.active-menu-screen {
  height: 100%;
  width: 100%;
  display: block !important;
}

.translation-widget {
  // height: 50px;
  margin-bottom: 20px;
  // background: $white;
  a {
    color: $white;
    font-family: $sans-serif-font;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300px;
    position: relative;
    padding: 0;
    padding-bottom: 3px;
    margin: 5px 10px;
  }
  ul {
    li.wpml-ls-current-language {
      a{
        font-weight: bold;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        // text-decoration: underline;
      }
    }
    >li.wpml-ls-item-fr a {
      &:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 17px;
          left: -11px;
          top: 0px;
          background: $white;
      }
    }
  }
}

.left-panel__navigation.slim-nav-transition.compress-slim-nav .translation-widget,
.left-panel__navigation.slim-nav-transition-static.compress-slim-nav .translation-widget {
  a {
    color: $main-accent;
  }
  ul {
    li.wpml-ls-current-language {
      a{
        border-bottom: 1px solid $main-accent-trans;
      }
    }
    >li.wpml-ls-item-fr a {
      &:after {
          background: $main-accent;
      }
    }
  }
}
