.photo-gallery-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin: 0 auto;
  > a {
    display: block;
    margin: 0 10px;
    border-bottom: 0;
    div {
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center center;
      @media #{$medium-and-up} {
        width: 150px;
        height: 150px;
      }
    }
    img {
      max-width: 100%;
    }
  } 
}

div[id^='inline-']{
  text-align: center;
  img {
    max-width: 300px;
    max-height: 70vh;
    @media #{$medium-and-up} {
      max-width: 800px;
      max-height: 400px;
    }
    @media #{$large-and-up} {
      max-width: 800px;
      max-height: 550px;
    }
    @media #{$xlarge-and-up} {
      max-width: 1000px;
      max-height: 600px;
    }
  }
  .gallery-lightbox-content {
    @media #{$small-and-down} {
      max-height:200px;
      overflow: scroll;
      padding: 0 20px;
    }
    @media #{$medium-and-up} {
      max-width: 800px;
    }
  }
  .gallery-lightbox-content,
  .gallery-lightbox-content p {
    text-align: left;
    color: $white;
    @media #{$medium-and-up} {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.lity.lity-opened.lity-inline {
  // position: relative;
}

.lity-close {
  @media #{$small-and-down} {
    position: absolute;
    bottom: 0px !important;
    top: auto;
    border-radius: 0;
    background: $main-accent;
  }
}