// BLOG FEED
.masonry-grid {
  margin: 50px 0;
  text-align: center;
} 

.grid-item {
  text-align: left;

  p, a {
    margin: 0;
    color: $white;
  }
  .post-icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  .post {
    padding: 20px;
  }
  .title {
    font-size: 14px;
    line-height: 17px;
  }
}

.grid-item--4x2:first-child {
  float: none;
}

.grid-item--4x2 {

}

.grid-item--2x1 {
}

.grid-item--2x2 {

}

.grid-item--1x1 {

}

// SINGLE
.inner-wrapper-blog {
  position: relative;
}

.social-share {
  position: fixed;
  // width: 50px;
  // height: 150px;
  background: $ll-grey;
  left: 50px;
  top: 500px;
  padding: 15px;
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      text-align: center;
      list-style-type: none;
      .fa {
        padding: 0;
        color: $d-grey;
      }
    }
  }
}

.news-banner {
  width: 100%;
  min-height: 400px;
  background: $grey;
  background-size: cover;
}

.news-content__titles {
  // padding: 10%;
  // text-align: center;
  h1 {
    font-weight: 300;
    text-transform: uppercase;
  }
}

.news-content__body {

}

.news-content {
  background: $white;
  padding: 20px;
  width: 90%;
  margin: -100px auto 0;
  @media #{$medium-and-up} {
    width: 60%;
    max-width: 950px;
    padding: 50px 100px;
    margin: -200px auto 0;
  }
}