.cta-container {
	position: fixed;
	color: $white;
	z-index: 500;
	max-width: 300px;
	left: 300px;
	top: 180px;
	p {
		color: $white;
		font-size: 18px;
		line-height: 22px;
	}
	a.btn {
		margin-bottom: 15px;
	}
}