.page-previous-lgs {
	background-color: lightgrey;
	text-align: center;
}

.previous-lgs-list {
	padding-bottom: 50px;
	@media #{$medium-and-up} {
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
	    column-count: 4;
	}
}

.single-lg--former {

	display: inline-block;
}

.single-lg-portrait {
	background-size: cover;
	text-align: center;
	img {
		width: 200px;
		height: 200px;
	}
	.svg-clipped{-webkit-clip-path:url(#svgFramePath);clip-path:url(#svgFramePath);}
}

.single-lg-content {
	padding: 15px;
	color: $black;
	text-align: center;
	p {
		margin: 0;
	}
}
