.page-previous-lgs {
	background-color: lightgrey;
	text-align: center;
}

.previous-lgs-list {
	padding-bottom: 50px;
	@media #{$medium-and-up} {
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
	    column-count: 4;
	}
}

.single-lg--former {

	display: inline-block;
}

.single-lg-portrait {
	background-size: cover;
	text-align: center;
	img {
		width: 200px;
		height: 200px;
	}
	.svg-clipped{-webkit-clip-path:url(#svgFramePath);clip-path:url(#svgFramePath);}
}


.single-lg {
	.left-panel {
		position: relative;
		width: 100%;
		height: 60vh;
		@media #{$large-and-up} {
		    position: fixed;
		    width: auto;
		    height: auto;
		    left: 0;
		    right: 50%;
		    top: 0;
		    bottom: 0;
		}
	}
	.right-panel {
		width: 100%;
		@media #{$large-and-up} {
		    width: 50%;
		}
	}
	.single-lg__content {
		padding: 20px 30px 150px;
		@media #{$large-and-up} {
		    padding: 20% 100px 50px;
		}
		h2 {
			font-size: 27px;
			line-height: 30px;
		}
		p {
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.frame-btn {
	position: absolute;
	bottom: 50px;
	right: 50px;
	font-family: $sans-serif-font;
	text-align: center;
	text-transform: uppercase;
	display: block;
	width: 100px;
	height: 33px;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 10px 10px 10px 10px;
	color: $blue;
	@media #{$large-and-up} {
		bottom: auto;
	    top: 50px;
	    right: 50px;
	}
}

.single-lg__prev-next-links {
	// text-align: center;
	#arrow-body {
		fill: $blue;
	}
	#prev-link-arrow {
		margin-right: 10px;
	}
	#next-link-arrow {
		margin-left: 10px;
	}
	a {
		font-family: $sans-serif-font;
		font-size: 14px;
		text-transform: uppercase;
		color: $blue;
	}
	.single-lg__next-link {
		margin-left: 40px;
	}
}

.clip-svg {
  clip-path: url(#boop);
  width: 100%;
  height: 205px;
  background-size: cover; 
}

#frame {
	width: 100%;
	height: 100%;
}

