header {
	background-color: $blue;
	height: 220px;
}

.no-scroll {
    overflow: hidden;
}

.no-pad-bottom {
    margin-bottom: 0;
}

footer.page-footer {
	color: $white;
  	margin: 0;
    background-color: $blue;
}