header {
	background-color: $blue;
	height: 220px;
}

.no-scroll {
    overflow: hidden;
}

.no-pad-bottom {
    margin-bottom: 0;
}

.base-padding {
  padding: 30px 15px;
  @media #{$large-and-up} {
    padding: 50px 0;
  }
}

.left-panel__background {
  z-index: 5;
  background: darkgrey;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.right-panel {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 10;
  background: $body-bg;
  float: right;
}

footer.page-footer {
	color: $white;
  margin: 0;
  background-color: $blue;
}

// Media Queries
$large-display-width: 1300px;

@mixin xlarge {
  @media (min-width: #{$large-display-width}) {
    @content;
  }
}

@include xlarge {
  
}