
// Primary Colours
$white: rgba(255,255,255,1);
$ll-grey: rgba(249,249,249,1);
$black: rgba(0,0,0,1);
$blue: 	rgba(51,104,152,1);
$l-green: rgba(218,241,229,1);
$green: rgba(148,217,180,1);

$accordion-headers: $l-green;
$body-bg: $ll-grey;
$nav-links: $green;