.page-previous-lgs {
	background-color: lightgrey;
	text-align: center;
}

.previous-lgs-list {
	padding-bottom: 50px;
	.row {
		margin: 0;
		.col {
			background: red !important;
			// min-height: 200px;
			padding: 0;
			> div {
				background: white;
				// padding: 20px;
				// margin: 20px;
			}
		}
	}
}

.single-lg-portrait {
	background-size: cover;
	height: 200px;
}

.single-lg-content {
	padding: 20px;
	background: $blue;
	color: $white;
	p {
		margin-top: 0;
	}
}