body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

header {
	background-color: $blue;
	height: 220px;
}

.no-scroll {
    overflow: hidden;
}

.base-padding {
  padding: 30px 15px;
  @media #{$large-and-up} {
    padding: 50px 0;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.top-page-panel {
  transition: all 0.5s ease;
  position: relative;
  z-index: 200;
}

.top-page-panel.shrink-banner {
  height: 1px !important;
}

.left-panel__background {
  z-index: 5;
  background: darkgrey;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left center;
  &:after {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, transparent 0%, black 110%);
    height: 100%;
    width: 100%;
    content: '';
    z-index: 6;
  }
}

.left-panel__background.left-panel__background---down {
  z-index: 5;
  background: darkgrey;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left center;
  top: 100vh;
  &:after {
    display: none;
    // position: relative;
    // background-image: linear-gradient(to bottom, transparent 0%, black 100%);
    // height: 100%;
    // width: 100%;
    // content: '';
    // z-index: 6;
  }
}

.right-panel {
  background: $white;
  position: relative;
  width: 50%;
  z-index: 10;
  background: $body-bg;
  float: right;
  // top: 100%;
  transition: all 0.5s ease;
}

.right-panel.right-panel--70 {
  width: 75%;
}

footer.page-footer {
	color: $white;
  margin: 0;
  background-color: $blue;
}

// Panel Animations
.scene {
    position: relative;
    z-index: 2;
}

.page-panel {
  position: relative;
  width: 100%;
  z-index: 100;
}

.right-compartment {
  position: relative;
  z-index: 500;
  @media #{$large-and-up} {
    width: 75%;
    float: right;
    background: $white;
    overflow-y: scroll;
    // padding: 100px;
  }
}

.right-compartment-inner-wrapper,
.child-page-content {
  padding: 20px;
  @media #{$large-and-up} { 
    padding: 50px 60px 60px;
  }
}

.right-compartment__filler {
    height: 500px;
}

.effect-fixed--on {

}

.page__bg__fixed {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease;
    // 
    // height: 100vh;
    // overflow-y:scroll;
    position: relative;
    .dark-overlay {
      z-index: 200;
      position: relative;
      &:after {
          content: '';
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          // height: 100%;
          background-color: rgba(0,0,0,0.5);
          z-index: 1;
      }
    }
}

.page__bg__fixed.affix {
    position:fixed;
    top:0;
    right:0;
}

.page__bg {
  position: absolute;
  top:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  z-index: 1;
}

.full-width-panel {
  min-height: 100vh;
  width: calc(100% - 40px);
  transform: translateX(40px);
  transition: all 0.5s ease;

  // background: red;
}

.full-width-inner-wrapper {
  //Same as .right-compartment-inner-wrapper?
  padding: 20px;
  @media #{$large-and-up} { 
    padding: 50px 100px 60px;
  }
}

.full-width-panel.full-width-panel--pushed {
  transform: translateX(350px);
  width: calc(100% - 340px);
}

// MASONRY

.masonry-grid {
  margin: 50px 0;
  text-align: center;
} 

.grid-item {
  display: inline-block;
  height: 130px;
  width: 130px;
  float: left;
  position: relative;
}

.grid-item--4x2:first-child {
  float: none;
}

.grid-item--4x2 {
  background: red;
  border: 1px solid $white;
  width: 64.4%;
  height: 260px; 
}

.grid-item--2x1 {
  background: $blue;
  border: 1px solid $white;
  width: 33.2%;
  height: 130px;
}

.grid-item--2x2 {
  background: yellow;
  border: 1px solid $white;
  width: 33.2%;
  height: 260px;
}

.grid-item--1x1 {
  background: green;
  border: 1px solid $white;
  width: 16.6%;
  height: 130px;
}


// Media Queries
$large-display-width: 1300px;

@mixin xlarge {
  @media (min-width: #{$large-display-width}) {
    @content;
  }
}

@include xlarge {
  
}