body {
  position: relative;
  height: 100%;
}

header {
	background-color: $blue;
	height: 220px;
}

.no-scroll {
    overflow: hidden;
}

.base-padding {
  padding: 30px 15px;
  @media #{$large-and-up} {
    padding: 50px 0;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.left-panel__background {
  z-index: 5;
  background: darkgrey;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left center;
  &:after {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, transparent 0%, black 110%);
    height: 100%;
    width: 100%;
    content: '';
    z-index: 6;
  }
}

.left-panel__background.left-panel__background---down {
  z-index: 5;
  background: darkgrey;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left center;
  top: 100vh;
  &:after {
    display: none;
    // position: relative;
    // background-image: linear-gradient(to bottom, transparent 0%, black 100%);
    // height: 100%;
    // width: 100%;
    // content: '';
    // z-index: 6;
  }
}

.right-panel {
  background: $white;
  position: relative;
  width: 50%;
  z-index: 10;
  background: $body-bg;
  float: right;
  // top: 100%;
  transition: all 0.5s ease;
}

.right-panel.right-panel--70 {
  width: 75%;
}

footer.page-footer {
	color: $white;
  margin: 0;
  background-color: $blue;
}

// Panel Animations
.scene {
    position: relative;
    z-index: 2;
}

.page {
    position: relative;
    width: 100%;
    z-index: 100;
}

.right-compartment {
    width: 50%;
    float: right;
    background: $white;
    overflow-y: scroll;
}

.right-compartment__filler {
    height: 500px;
}

.effect-fixed--on {

}

.page__bg__fixed {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease;
    // 
    height: 100vh;
    overflow-y:scroll;
}

.page__bg__fixed.affix {
    position:fixed;
    top:0;
    right:0;
}

.page__bg {
  position: absolute;
  top:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  z-index: 1;
}

// Media Queries
$large-display-width: 1300px;

@mixin xlarge {
  @media (min-width: #{$large-display-width}) {
    @content;
  }
}

@include xlarge {
  
}

#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}