html {

}

body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

iframe,
twitterwidget,
.site-center-aligned {
  margin: 0 auto;
}

header {
	background-color: $blue;
	height: 220px;
}

.no-scroll {
    overflow: hidden;
}

.base-padding {
  padding: 30px 15px;
  @media #{$large-and-up} {
    padding: 50px 0;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.top-page-panel {
  transition: all 0.5s ease;
  position: relative;
  z-index: 200;
}

.top-page-panel.shrink-banner {
  height: 1px !important;
}

.left-panel__background {
  z-index: 5;
  background: darkgrey;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left center;
  &:after {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, transparent 0%, black 110%);
    height: 100%;
    width: 100%;
    content: '';
    z-index: 6;
  }
}

.left-panel__background.left-panel__background---down {
  z-index: 5;
  background: darkgrey;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left center;
  top: 100vh;
  &:after {
    display: none;
    // position: relative;
    // background-image: linear-gradient(to bottom, transparent 0%, black 100%);
    // height: 100%;
    // width: 100%;
    // content: '';
    // z-index: 6;
  }
}

.right-panel {
  background: $white;
  position: relative;
  width: 50%;
  z-index: 10;
  background: $body-bg;
  float: right;
  // top: 100%;
  transition: all 0.5s ease;
}

.right-panel.right-panel--70 {
  width: 75%;
}

footer.page-footer {
	color: $white;
  margin: 0;
  background-color: $blue;
}

// Panel Animations
.scene {
    position: relative;
    z-index: 2;
}

.page-panel {
  position: relative;
  width: 100%;
  z-index: 100;
}

.left-compartment__bg {
  @media #{$medium-and-up} {
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease;
  }
}

.right-compartment {
  position: relative;
  z-index: 500;
  background: $white;
  @media #{$large-and-up} {
    width: 75%;
    float: right;
    background: $white;
    overflow-y: scroll;
    // padding: 100px;
  }
}

.right-compartment-inner-wrapper,
.child-page-content,
.single-page__content {
  padding: 20px;
  @media #{$large-and-up} { 
    padding: 50px 60px 60px;
  }
}

.right-compartment__filler {
    height: 500px;
}

.effect-fixed--on {

}

.page__bg__fixed {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease;
    // 
    height: 100vh;
    // overflow-y:scroll;
    position: relative;
    .dark-overlay {
      z-index: 200;
      position: relative;
      &:after {
          content: '';
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          // height: 100%;
          background-color: rgba(0,0,0,0.5);
          z-index: 1;
      }
    }
}

.page__bg__fixed.affix {
    position:fixed;
    top:0;
    right:0;
}

.page__bg {
  position: absolute;
  top:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  z-index: 1;
}

.full-width-panel {
  min-height: 100vh;
  width: calc(100% - 40px);
  transform: translateX(40px);
  transition: all 0.5s ease;

  // background: red;
}

.full-width-inner-wrapper {
  //Same as .right-compartment-inner-wrapper?
  padding: 20px;
  @media #{$large-and-up} { 
    padding: 50px 100px 60px;
  }
}

.full-width-panel.full-width-panel--pushed,
.single-push-panel.single-push-panel--pushed {
  transform: translateX(350px);
  // width: calc(100% - 340px); 
    //this compresses  the container
    // instead of just pushing it
}

.single-page-container--half,
.single-page-container--whole {
  h2 {
    font-family: $sans-serif-font;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 70px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .right-panel {
    background: $white;
  }
  .left-panel {
    &:after {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // height: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;
    }
    // &:after {
    //   display: block;
    //   position: relative;
    //   background-image: linear-gradient(to top, transparent 0%, black 110%);
    //   height: 100%;
    //   width: 100%;
    //   content: '';
    //   z-index: 6;
    // }
  }
}

.single-page-container--whole {
  .right-compartment {
    min-height: 100vh;
  }
}

.scroll-panel {
  .left-panel {
    position: relative;
    width: 100%;
    height: 60vh;
    @media #{$large-and-up} {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
    }
  }
  .right-panel {
    width: 100%;
    @media #{$large-and-up} {
        width: 50%;
    }
  }
}


// MASONRY

.masonry-grid {
  margin: 50px 0;
  text-align: center;
} 

.grid-item {
  display: inline-block;
  height: 130px;
  width: 130px;
  float: left;
  position: relative;
  background: $grey;
}

.grid-item__wrapper {
  padding: 20px;
  position: relative;
  z-index: 10;
  height: calc(100% - 30px);
  i {
    position: absolute; 
    bottom: 15px; 
    right: 15px;
  }
}

.grid-item--overlay {
  position: relative;
  z-index: 8;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,1) 100%);
}

.grid-item--4x2:first-child {
  float: none;
}

.grid-item--4x2 {
  background: rgba(0,0,0,0.3);
  border: 1px solid $white;
  width: 64.4%;
  height: 300px;
  h3 {
    color: $white;
  }
}

.grid-item--4x2--label {
  text-transform: uppercase;
  font-size: 16px;
  span {
    border-top: 2px solid $white;
  } 
}

.grid-item--4x2--content {
  vertical-align: bottom;
  bottom: 0;
  position: absolute; 
  bottom: 25px; 
  max-width: 90%;
  h3 {
    color: $white;
    font-size: 32px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 0 !important;
  }
}

.grid-item--2x1 {
  background: #4A4A4A;
  border: 1px solid $white;
  width: 33.2%;
  height: 150px;
}

h3.grid-item--2x1--label,
h3.grid-item--1x1--label {
  color: $white;
  font-size: 24px;
  line-height: 26px;
  vertical-align: text-bottom;
  margin: 0;
  // position:relative;
  bottom: 0;
  position: absolute; 
  bottom: 20px; 
  max-width: 80%;
}

.grid-item--2x2 {
  // background: rgba(0,0,0,0.3);
  border: 1px solid $white;
  width: 33.2%;
  height: 300px;
}

h3.grid-item--2x2--label {
  color: $white;
  bottom: 0;
  position: absolute; 
  bottom: 20px; 
  max-width: 80%;
  font-size: 24px;
  line-height: 26px;
}

.grid-item--1x1 {
  // background: rgba(0,0,0,0.1);
  border: 1px solid $white;
  width: 16.6%;
  height: 150px;
}

.grid-item.grid-item--accent {
  background: $main-accent;
}

.grid-item.grid-item--llgrey {
  background: #f5f5f5;
  h3 {
    color: $body-copy;
  }
}


// Gallery 
.preload-background {
  position: absolute;
  width: 0;
  height: 0;
}

// Media Queries
$large-display-width: 1300px;

@mixin xlarge {
  @media (min-width: #{$large-display-width}) {
    @content;
  }
}

@include xlarge {
  
}