//Modular Scale http://www.modularscale.com/?16,44&px&1.5&web&table
html {
    //font-family: $sans-serif-light;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: $grey;
}

body {
    font-family: 'Rasa', serif;
    font-color: $body-copy;
}

p {
    font-size: 24px;
    line-height: 32px;
    @media #{$small-and-down} {
        font-size: .9em;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    font-family: 'Rasa', serif;
}

// PARENT PAGE CONTENT 

.child-page {
    color: $body-copy;
    h2 {
        font-family: $sans-serif-font;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 70px;
        font-weight: 300;
    }
    h3 {
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0;
    }
    h3 + p {
        margin-top: 15px;
    }
    h4 {
        margin-bottom: 0;
    }
    h4 + p,
    h4 + ul {
        margin-top: 15px;
    }
    p ~ ul {

    }
    ul {
        margin-top: 0px;
        li {
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 8px;
        }
    }
    blockquote {
        font-family: $sans-serif-font;
        font-weight: 400;
        color: $grey;
        text-align: left;
        font-size: 30px;
        line-height: 43px;
        position: relative;
        &:before {
            position: absolute;
            top: 50px;
            left: 0;
            opacity: 0.3;
        }
        &:after {
            display: none;
        }
    }
}

// NAVIGATION

nav {
    ul {
        a {
            font-family: 'Dosis', sans-serif;
            color: $nav-links;
            text-transform: uppercase;
        }
    }
}

nav #menu-main-menu {
    .menu-item-active,
    .current_page_item >a {
      color: $white;
      font-weight: bold;
    }
    >li {
        margin: 10px 0 15px;
        >a {
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
        }
        >ul {
            margin: 10px 0 10px 20px;
            >li {
                margin: 0 0 5px;
                >a {
                    font-size: 16px;
                    font-weight: 500;
                }
                >ul {
                    >li >a {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2.75em;
    @media #{$small-and-down} {
        font-size: 1.7em;
    }
}

h2 {
    font-size: 2.25em;
    @media #{$small-and-down} {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.833em;
    @media #{$small-and-down} {
        font-size: 1.5em;
    }
}

h4 {
    font-size: 1.5em;
     @media #{$small-and-down} {
        font-size: 1.3em;
    }
}

h5 {
    font-size: 1.222em;
     @media #{$small-and-down} {
        font-size: 1.2em;
    }
}

h6 {
    font-size: 1em;
}

small {
    font-size: 0.667em;
}