//Modular Scale http://www.modularscale.com/?16,44&px&1.5&web&table
html {
    //font-family: $sans-serif-light;
    font-size: 18px;
}

body {
    font-family: 'Rasa', serif;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    @media #{$small-and-down} {
        font-size: .9em;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    font-family: 'Rasa', serif;
}

nav {
    ul {
        a {
            font-family: 'Dosis', sans-serif;
            color: $nav-links;
            text-transform: uppercase;
        }
    }
}

nav #menu-main-menu >li {
    margin: 10px 0 15px;
    >a {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.1px;
    }
    >ul {
        margin: 10px 0 10px 20px;
        >li {
            margin: 10px 0;
            >a {
                font-size: 16px;
                font-weight: 500;
            }
            >ul {
                >li >a {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2.75em;
    @media #{$small-and-down} {
        font-size: 1.7em;
    }
}

h2 {
    font-size: 2.25em;
    @media #{$small-and-down} {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.833em;
    @media #{$small-and-down} {
        font-size: 1.5em;
    }
}

h4 {
    font-size: 1.5em;
     @media #{$small-and-down} {
        font-size: 1.3em;
    }
}

h5 {
    font-size: 1.222em;
     @media #{$small-and-down} {
        font-size: 1.2em;
    }
}

h6 {
    font-size: 1em;
}

small {
    font-size: 0.667em;
}