//Modular Scale http://www.modularscale.com/?16,44&px&1.5&web&table
html {
    //font-family: $sans-serif-light;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: $alt-black;
}

body {
    font-family: 'Rasa', serif;
    font-color: $body-copy;
    @media print {
      font-color: $black;
    }
}

p {
    font-size: 24px;
    line-height: 32px;
    color: $body-copy;
    @media #{$small-and-down} {
        font-size: 22px;
        line-height: 30px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $body-copy;
    line-height: 1.2em;
    font-family: 'Rasa', serif;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2.75em;
    @media #{$small-and-down} {
        font-size: 2em;
    }
}

h2 {
    font-size: 2.25em;
    @media #{$small-and-down} {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.833em;
    @media #{$small-and-down} {
        font-size: 1.5em;
    }
}

h4 {
    font-size: 1.5em;
     @media #{$small-and-down} {
        font-size: 1.3em;
    }
}

h5 {
    font-size: 1.222em;
     @media #{$small-and-down} {
        font-size: 1.2em;
    }
}

h6 {
    font-size: 1em;
}

small {
    font-size: 0.667em;
}

abbr[title] {
    border-bottom: none;
}

// LINKS
.inner-wrapper-blog,
.child-page-content,
.parent-page-content,
.single-lg__content-wysiwyg {
    a {
        color: $body-links;
        // color: $alt-black;
        border-bottom: 1px solid $body-links-underline;
    }
    a img { border:none; vertical-align:top; }
}

// FULL-WIDTH PAGE
.full-width-panel {
    h2 {
        text-align: center;
        margin-top: 0;
    }
}

.search-results-page {
    a {
        color: $body-links;
        // color: $alt-black;
        // border-bottom: 1px solid $body-links-underline;
        i {
            color: $body-links;
        }
    }
    .read-more-link {
        // font-family: $sans-serif-font;
        // text-transform: uppercase;
    }
    h1, h2 {
        font-family: $sans-serif-font;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0px;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        @media #{$medium-and-up} {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 40px;
        }
    }
}

.single-page-container--whole .search-results__single h2 {
    font-size: 40px;
    line-height: 50px;
    @media #{$medium-and-up} {
      font-size: 35px;
      line-height: 45px;
      // margin-top: 30px;
    }
}

.search-pagination {
    // margin: 0 auto;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    @media #{$medium-and-up} {
      font-size: 35px;
      line-height: 45px;
      // margin-top: 30px;
    }
}


// PARENT PAGE CONTENT 
.child-page,
.full-width-panel,
.parent-page-content {
    color: $body-copy;
    .child-page-content {
        // margin-bottom: 100px;
        a {
            color: $body-links;
            // color: $alt-black;
            border-bottom: 1px solid $body-links-underline;
        }
    }
    h2 {
        font-family: $sans-serif-font;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 50px;
        font-weight: 300;
        margin-bottom: 0px;
        @media #{$medium-and-up} {
          font-size: 60px;
          line-height: 70px;
          // margin-top: 0;
        }
    }
    .child-page-content >*:first-child {
        margin-top: 25px;
    }
    h3 {
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0;
        @media #{$small-and-down} {
            font-size: 25px;
            line-height: 30px;
        }
    }
    h3 + p {
        margin-top: 15px;
    }
    h4 {
        margin-bottom: 0;
    }
    h4 + p,
    h4 + ul {
        margin-top: 15px;
    }
    p ~ ul {

    }
    ul {
        margin-top: 0px;
        li {
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 8px;
            @media #{$small-and-down} {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    blockquote {
        font-family: 'Merriweather', serif;
        font-style: italic;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            // z-index: -1;
            content: '';
            background-image: url('../lgo/src/images/quotation-mark.svg');
            background-size: 100px 100px;
            height: 100px;
            width: 100px;
            top: -20px;
            left: -20px;
            opacity: 1;
        }
    }

    blockquote p {
        position: relative;
        font-family: 'Merriweather', serif;
        font-style: italic;
        color: $blockquote;
        font-size: 25px;
        line-height: 35px;
        z-index: 5;
    }
}

// BLOG
.news-content__body {
  >p:first-child:first-letter {
    // color: red;
    float: left;
    font-size: 500%;
    // line-height: 80%;
    padding: 30px 10px 5px 0;
    // margin: 0 20px 20px 20px;
    // width: 100px;
    // border: 4px solid $alt-black;
    @media #{$medium-and-up} {
      padding: 35px 15px 5px 0;
    }
  }
}

// NAVIGATION
nav {
    .current_page_item a,
    .current_page_item a span {
        font-weight: 700;
    }
    ul {
        a,
        span {
            font-family: 'Dosis', sans-serif;
            color: $nav-links;
            text-transform: uppercase;
            &:hover {
                // color: $blue;
                // font-weight: bold !important;
                cursor: pointer;
            }
        }
    }
}

.left-panel__navigation.slim-nav-transition.compress-slim-nav,
.left-panel__navigation.slim-nav-transition-static.compress-slim-nav {
    #nav-logo {
      .st0{
        fill: $slim-nav-links;
        fill: $white;
      }
      .st1{
        fill:none;
        stroke: $slim-nav-links;
        stroke: $white;
      }
    }
    nav {
        ul {
            a {
                color: $slim-nav-links;
                color: $white;
                text-transform: uppercase;
                &:hover {
                    color: $slim-nav-links;
                    color: $white;
                }
                i {
                    color: $slim-nav-links;
                    color: $white;
                }
            }
        }
    }
}

nav #menu-main-menu,
nav #menu-menu-principal {
    .menu-item-active {
      color: $white;
      font-weight: bold;
    }
    >li {
        margin: 10px 0 15px;
        >a,
        >span {
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 1.1px;
            &:hover {
                // cursor: default;
            }
        }
        >ul {
            margin: 10px 0 10px 10px;
            >li {
                padding: 2px 0;
                >a,
                >a span {
                    font-size: 16px;
                    line-height: 14px;
                    font-weight: 500;
                }
                >ul {
                    >li >a {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

